h1 Admin Options
= link_to "Switch to Welcome Mode", welcome_path, class: 'btn btn-primary btn-lg', role: 'button'
= link_to "Generate a Report", new_report_path, class: 'btn btn-info btn-lg', role: 'button', style: 'margin-left: 15px'
