= form_for(@user) do |f|
  - if @user.errors.any?
    div id="error_explanation"
      h2 #{pluralize(@user.errors.count, t("error"))}
         #{t('user.prohibited_this_from_beging_saved')}:

  ul
    - @user.errors.full_messages.each do |message|
      li = message

  div class="field"
    = f.label :role_id
    br
    = collection_select(:user, :role_id, Role.all, :id, :name)

  div class="field"
    = f.label t('user.name')
    br
    = f.text_field :name

  div class="field"
    = f.label t('user.email')
    br
    = f.text_field :email

  div class="field"
    = f.label t('user.address')
    br
    = f.text_field :address

  div class="field"
    = f.label t('user.address')
    br
    = f.text_field :address2

  div class="field"
    = f.label t('user.city')
    br
    = f.text_field :city

  div class="field"
    = f.label t('user.state')
    br
    = f.text_field :state

  div class="field"
    = f.label t('user.zip_code')
    br
    = f.text_field :zip_code

  div class="field"
    = f.label t('user.emergency_contact_name')
    br
    = f.text_field :emergency_contact_name

  div class="field"
    = f.label t('user.emergency_contact_phone_number')
    br
    = f.text_field :emergency_contact_phone

  div class="field"
    = f.label t('user.waiver_signature')
    br
    = f.text_field :waiver_signature

  div class="field"
    = f.label t('user.photo_release')
    br
    = f.text_field :photo_release

  div class="actions"
    = f.submit
