/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$font-family-base: Lato;
$body-bg: #9FC947;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "activities";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";

iframe {
  width: 100%;
}

#navigation-buttons {
  li {
    padding: 1em;
  }
}

.required {
  color: red;
}

.rolay {
  color: green;
  font-size: 1.9em;
}

#background {
  background: url("growhaus_logo.png") no-repeat center center fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
